<?xml version="1.0" encoding="utf-8"?>
<!--
  数据库配置文件，isdefault="1",默认数据库。其余isdefault="0"
  DBType:sqlserver;oracle;mysql-->
<DBS>
  <DB name="basedb" value="server=192.168.10.239;uid=KQADMIN;pwd=kqadmin123;database=HKOA;pooling=true;Max Pool Size=1000;Min Pool Size=0;connect timeout=900;connection lifetime=5;" dbtype="sqlserver" dbName="HKOA_Test" isdefault="0" />

  <DB name="basedb2" value="Server=192.168.10.251;Database=cwbase1; User ID=lc0019999;Password=Hkfoam1912!@#$;" dbtype="sqlserver" dbName="cwbase1" isdefault="0" />
  <DB name="MES" value="Server=192.168.10.242;Database=mes8001; User ID=ruis;Password=jch9sh_shl;port=3306;CharSet=utf8;pooling=true;" dbtype="mysql" dbName="mes8001" isdefault="0" />
  <DB name="WMS" value="Integrated Security=False;Password=Mlilywms2019;User ID=sa;Pooling=false;Data Source=192.168.10.170;Initial Catalog=DB_WMS_MBH;" dbtype="sqlserver" dbName="DB_WMS_MBH" isdefault="1" />

  <!--<DB name="WMS" value="Integrated Security=False;Password=MlilyWms2018;User ID=sa;Pooling=false;Data Source=192.168.10.215;Initial Catalog=DB_WMS_MBH1;" dbtype="sqlserver" dbName="DB_WMS_MBH" isdefault="0" />-->
</DBS>